<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to odin-facebook.com, also known as RailsBook, <%= @user.email %></h1>
    <p>You have successfully signed up to this website.</p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
