<% if @user.profile.present? %>
  <%= render "profiles/profile", profile: @user.profile %>
<% else %>
  <p>Looks like you hasn't create a profile yet.</p>
  <%= link_to "Create a profile", new_profile_path %>
<% end %>

<% if @user.posts.present? %>
  <%= render @user.posts, partial: "posts/post" %>
<% else %>
  <p>You hasn't create any posts yet.</p>
<% end %>
