<%= render "profiles/profile", profile: @user.profile %>

<% if @user.posts.present? %>
  <%= render @user.posts, partial: "posts/post" %>
<% else %>
  <p>You hasn't create any posts yet.</p>
<% end %>
