<%= render "profiles/profile", profile: @user.profile %>

<div class="profile-posts-container">
  <% if @user.posts.present? %>
    <%= render @user.posts, partial: "posts/post" %>
  <% else %>
    <p>You hasn't create any posts yet.</p>
  <% end %>
</div>
