<h1>Create post</h1>

<%= form_with model: @post do |form| %>
  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="action">
    <%= form.submit "Post" %>
  </div>
<% end %>
